body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.calendar-container {
    margin: auto;
    width: 80%; /* Adjust the width as needed */
    border: 1px solid #ddd;
    padding: 20px;
}

#pdf-canvas {
    width: 100%; /* Make the canvas fill the container */
    height: auto; /* Adjust height automatically */
    border: 1px solid #ccc; /* Optional: adds a border around the PDF */
    box-sizing: border-box; /* Makes sure padding and borders are included in the total width and height */
}

/* Styles for the Zoom links section */
.zoom-links {
    margin-top: 20px;
    text-align: center;
}

.zoom-links h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #333;
}

.zoom-links a {
    color: #0000EE; /* Traditional blue color for links */
    text-decoration: none;
    font-size: 1em;
}

.zoom-links a:hover, .zoom-links a:focus {
    text-decoration: underline;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .calendar-container {
        width: 95%; /* Wider container on smaller screens */
    }

    .zoom-links a {
        font-size: 0.9em; /* Slightly smaller font size for links on small screens */
    }
}
